html {
  height: 100%;
}

body {
  height: 100%;
  background-color: pink;
  font-family: 'Times New Roman', Times, serif;
}

#app {
  height: 100%;
  color: #fff;
  font-size: 330px;
  text-align: right;
  background-image: url('../img/home.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
}
